<h5 class="text-primary font-medium my-4">You have {{invitations}} penidng invitation.</h5>
<div class="intro-y col-span-12 md:col-span-12" *ngFor="let data of invitations_teams">
    <div class="box">
        <div class="flex flex-col lg:flex-row items-center p-5 border-b border-slate-200/60 dark:border-darkmode-400">
            <div class="w-24 h-24 lg:w-12 lg:h-12 image-fit lg:mr-1">
                <img alt="Midone - HTML Admin Template" class="rounded-full" src="assets/dist/images/profile-5.jpg">
            </div>
            <div class="lg:ml-2 lg:mr-auto text-center lg:text-left mt-3 lg:mt-0">
                <a href="" class="font-medium">{{data['company_name']}}</a> 
                <div class="text-slate-500 text-xs mt-0.5">{{data['invited_by']}}</div>
            </div>
            
        </div>
        <div class="flex flex-wrap lg:flex-nowrap items-center justify-center p-5">
            <div class="w-full lg:w-1/2 mb-4 lg:mb-0 mr-auto">
                <div class="flex text-slate-500 text-xs">
                    <div class="mr-auto" *ngIf="data['type']=='teamMember'">{{data['company_name']}} has invited to join their team.</div>
                    <div class="mr-auto" *ngIf="data['type']=='client'">{{data['company_name']}} has invited to join as their client.</div>
                    <!-- <div>20%</div> -->
                </div>
                <div class="progress h-1 mt-2">
                    <div class="progress-bar w-1/4 bg-primary" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <button class="btn btn-primary py-1 px-2 mr-2"(click)="respond(data,1)">Accept</button>
            <button class="btn btn-outline-secondary py-1 px-2"(click)="respond(data,2)">Reject</button>
        </div>
    </div>
</div>
<div class="intro-y col-span-12 md:col-span-12" *ngFor="let data of invitations_clients">
    <div class="box">
        <div class="flex flex-col lg:flex-row items-center p-5 border-b border-slate-200/60 dark:border-darkmode-400">
            <div class="w-24 h-24 lg:w-12 lg:h-12 image-fit lg:mr-1">
                <img alt="Midone - HTML Admin Template" class="rounded-full" src="assets/dist/images/profile-5.jpg">
            </div>
            <div class="lg:ml-2 lg:mr-auto text-center lg:text-left mt-3 lg:mt-0">
                <a href="" class="font-medium">{{data['company_name']}}</a> 
                <div class="text-slate-500 text-xs mt-0.5">{{data['invited_by']}}</div>
            </div>
            
        </div>
        <div class="flex flex-wrap lg:flex-nowrap items-center justify-center p-5">
            <div class="w-full lg:w-1/2 mb-4 lg:mb-0 mr-auto">
                <div class="flex text-slate-500 text-xs">
                    <div class="mr-auto" *ngIf="data['type']=='teamMember'">{{data['company_name']}} has invited to join their team.</div>
                    <div class="mr-auto" *ngIf="data['type']=='client'">{{data['company_name']}} has invited to join as their client.</div>
                </div>
                <div class="progress h-1 mt-2">
                    <div class="progress-bar w-1/4 bg-primary" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <button class="btn btn-primary py-1 px-2 mr-2"(click)="respond(data,1)">Accept</button>
            <button class="btn btn-outline-secondary py-1 px-2"(click)="respond(data,2)">Reject</button>
        </div>
    </div>
</div>