<div id="success-notification-content" class="toastify-content hidden flex"> <i-lucide class="text-success" name="check-circle"></i-lucide>
    <div class="ml-4 mr-4">
        <div class="font-medium">Success !</div>
        <div class="text-slate-500 mt-1">{{message['message']}}</div>
    </div>
</div> <!-- END: Notification Content -->

<div id="error-notification-content" class="toastify-content hidden flex"> <i-lucide class="text-danger" name="slash"></i-lucide>
    <div class="ml-4 mr-4">
        <div class="font-medium">Error !</div>
        <div class="text-slate-500 mt-1">{{message['message']}}</div>
    </div>
</div>

