
    <div class="grid grid-cols-12 gap-6 mt-5">
        <div class="intro-y col-span-12 flex flex-wrap sm:flex-nowrap items-center mt-2"><!--(click)="addNew()"-->
            <h2 class="col-span-12 intro-y text-lg font-medium ml-4" >
                Customers
            </h2>
            <div class="hidden md:block mx-auto text-slate-500"></div>
            <div class="w-full sm:w-auto mt-3 sm:mt-0 sm:ml-auto md:ml-0 mr-2">
                <div class="w-56 relative text-slate-500">
                    <input type="text" class="form-control w-56 box pr-10" placeholder="Search..." (keyup)="search()" [(ngModel)]="keyword" >
                    <i-lucide class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0" name="search"></i-lucide> 
                </div>
            </div>
            <button class="btn btn-primary shadow-md mr-2"  (click)="addNew()" data-tw-toggle="modal" data-tw-target="#basic-slide-over-preview">Add Customers</button>
            
        </div>
    <!-- BEGIN: Data List -->
    <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
        <table class="table table-report -mt-2">
            <!-- <thead>
                <tr>
                    <th class="whitespace-nowrap">Project Name</th>
                    <th class="text-center whitespace-nowrap">STATUS</th>
                    <th class="text-center whitespace-nowrap">ACTIONS</th>
                </tr>
            </thead> -->
            <tbody>
                <tr class="intro-x" *ngFor="let data of customers">
                    
                    <td>
                        <a  class="font-medium whitespace-nowrap">{{data['first_name']+' '+data['last_name']}} </a> 
                        <!-- <div class="text-slate-500 text-xs whitespace-nowrap mt-0.5">{{data['project_type']}}</div> -->

                    </td>
                    <td>
                        <a  class="font-medium whitespace-nowrap">{{data['email']}}</a> 
                    </td>
                    <td class="w-40">
                        <!-- <div class="py-1 px-2 rounded-full text-xs bg-success text-white cursor-pointer font-medium" >{{data['project_status_name']}}</div> -->

                        <!--<div class="py-1 px-2 rounded-full text-xs text-black cursor-pointer font-medium" [ngStyle]="{'background-color':data['color']}">{{data['project_status_name']}}</div>-->
                        <!-- <div class="flex items-center justify-center text-danger" *ngIf="data['status']==0" data-tw-toggle="modal"  data-tw-target="#delete-confirmation-modal"(click)="callConfirm(data['id'],'enable')"> <i-lucide name="check-square" class="w-4 h-4 mr-2"></i-lucide> Inactive </div>
                        <div class="flex items-center justify-center text-success" *ngIf="data['status']==1" data-tw-toggle="modal"  data-tw-target="#delete-confirmation-modal"(click)="callConfirm(data['id'],'disable')"> <i-lucide name="check-square" class="w-4 h-4 mr-2"></i-lucide> Active </div> -->
                    </td>
                    <td class=" w-56">
                        <div class="flex justify-end">
                            <!-- <a class="flex items-center mr-3" href="javascript:;" routerLink="sections/{{data['id']}}"> <i-lucide name="eye" class="w-4 h-4 mr-1"></i-lucide> Section </a>
                            <a class="flex items-center mr-3" href="javascript:;" routerLink="tasks/{{data['id']}}"> <i-lucide name="eye" class="w-4 h-4 mr-1"></i-lucide> Task </a> -->
                            <!-- <a class="flex items-center mr-3" href="javascript:;" (click)="edit(data)" data-tw-toggle="modal" data-tw-target="#basic-slide-over-preview"> <i-lucide name="edit" class="w-4 h-4 mr-1"></i-lucide>  </a>
                            <a class="flex items-center text-danger" href="javascript:;" data-tw-toggle="modal"  data-tw-target="#delete-confirmation-modal"(click)="callConfirm(data['id'],'delete')"> <i-lucide name="trash-2" class="w-4 h-4 mr-1"></i-lucide>  </a> -->
                        </div>
                    </td>
                </tr>
              
            </tbody>
        </table>
    </div>
    <!-- END: Data List -->
    <div class="col-span-12 text-primary pl-2" *ngIf="customers.length==0">
        * No customers found.
    </div>
        <app-pagination class="col-span-12" [page]="pageCopy()" (newItemEvent)="changePage($event)"></app-pagination>
    </div>
    
     
     <!-- BEGIN: Slide Over Content -->
     <div id="basic-slide-over-preview"  class="modal modal-slide-over" tabindex="-1" aria-hidden="true">
         <div class="modal-dialog">
             <div class="modal-content">
                 <div class="modal-header p-5">
                     <h2 class="font-medium text-base mr-auto">{{projectData.title}} Customer</h2>
                 </div>
                 <div class="modal-body"> 
                    <app-customer-form [projectData]="projectData" (saved)="saved()"></app-customer-form>
                 </div>
             </div>
         </div>
     </div> <!-- END: Slide Over Content -->
     <!-- <app-status-form></app-status-form> -->
     <app-delete-confirmation  (confirmed)="confirmAction($event)" [message]="message"></app-delete-confirmation>