<div class="login">
  <div class="container sm:px-10">
      <div class="block xl:grid grid-cols-2 gap-4">
          <!-- BEGIN: Login Info -->
          <div class="hidden xl:flex flex-col min-h-screen">
              <a  class="-intro-x flex items-center pt-5">
                  <img alt="Custcare" class="w-6" src="assets/dist/images/logo.svg">
                  <span class="text-white text-lg ml-3"> Custcare </span> 
              </a>
              <div class="my-auto">
                  <img alt="Custcare" class="-intro-x w-1/2 -mt-16" src="assets/dist/images/illustration.svg">
                  <div class="-intro-x text-white font-medium text-4xl leading-tight mt-10">
                     user has invited to join company
                  </div>
                  <div class="-intro-x mt-5 text-lg text-white text-opacity-70 dark:text-slate-400">Please accept invitation to join.</div>
              </div>
          </div>
          <!-- END: Login Info -->
          <!-- BEGIN: Login Form -->
          <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
                <div class="my-auto mx-auto xl:ml-20 bg-white dark:bg-darkmode-600 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto">                   
                    <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left">
                        <button class="btn btn-primary py-3 px-4 w-full xl:w-32 xl:mr-3 align-top" type="button" (click)="accept(1)">Accept</button>
                        <button class="btn btn-outline-secondary py-3 px-4 w-full xl:w-32 mt-3 xl:mt-0 align-top"type="button" (click)="accept(0)">Reject</button>                    </div>
                </div>              
          </div>
          <!-- END: Login Form -->
      </div>
  </div>
  <!-- <div class="col-span-6 sm:col-span-3 xl:col-span-2 flex flex-col justify-end items-center">
    <i-lucide data-loading-icon="bars" class="w-8 h-8"></i-lucide> 
    <div class="text-center text-xs mt-2">bars</div>
    </div> -->
</div>