
<h2 class="intro-y text-lg font-medium mt-10" >
Manage Your Companies
</h2>

<div class="grid grid-cols-12 gap-6 mt-5">
    <div class="intro-y col-span-12 flex flex-wrap sm:flex-nowrap items-center mt-2"><!--(click)="addNew()"-->
        <button class="btn btn-primary shadow-md mr-2" routerLink="add-new"  data-tw-toggle="modal" data-tw-target="#" >Add New Company</button>
        <!-- <div class="dropdown">
            <button class="dropdown-toggle btn px-2 boxbasic-slide-over-preview" aria-expanded="false" data-tw-toggle="dropdown">
                <span class="w-5 h-5 flex items-center justify-center"> <i-lucide class="w-4 h-4" name="plus"></i-lucide> </span>
            </button>
            <div class="dropdown-menu w-40">
                <ul class="dropdown-content">
                    <li>
                        <a  class="dropdown-item"> <i-lucide name="printer" class="w-4 h-4 mr-2"></i-lucide> Print </a>
                    </li>
                    <li>
                        <a  class="dropdown-item"> <i-lucide name="file-text" class="w-4 h-4 mr-2"></i-lucide> Export to Excel </a>
                    </li>
                    <li>
                        <a  class="dropdown-item"> <i-lucide name="file-text" class="w-4 h-4 mr-2"></i-lucide> Export to PDF </a>
                    </li>
                </ul>
            </div>
        </div> -->
        <div class="hidden md:block mx-auto text-slate-500"></div>
        <div class="w-full sm:w-auto mt-3 sm:mt-0 sm:ml-auto md:ml-0">
            <div class="w-56 relative text-slate-500">
                <input type="text" class="form-control w-56 box pr-10" placeholder="Search..." (keyup)="search()" [(ngModel)]="keyword" >
                <i-lucide class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0" name="search"></i-lucide> 
            </div>
        </div>
    </div>
    <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
            <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5">
                <div *ngFor="let company of companies" [ngClass]="company['default_company']==1?'bg-primary':''"  (click)="makeDefault(company)" routerLink="/dashboard" class="col-span-12 sm:col-span-4 2xl:col-span-3 box p-5 cursor-pointer zoom-in">
                    <div class="font-medium text-base"  [ngClass]="company['default_company']==1?'text-white':''">{{company['company_name']}}</div>
                    <!-- <div class="" [ngClass]="category_id==category['id']?'text-white text-opacity-80 dark:text-slate-500':'text-slate-500'">5 Items</div> -->
                </div>
            </div>
    </div>

<!-- BEGIN: Data List -->
<!-- <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
    <table class="table table-report -mt-2">
        <thead>
            <tr>
                <th class="whitespace-nowrap">Company Name</th>
                <th class="text-center whitespace-nowrap">STATUS</th>
                <th class="text-center whitespace-nowrap">ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            <tr class="intro-x" *ngFor="let company of companies">
              
                <td>
                    <a  class="font-medium whitespace-nowrap">{{company['company_name']}}</a> 
                    <div class="text-slate-500 text-xs whitespace-nowrap mt-0.5">{{company['category_name']}}</div>
                </td>
                <td class="w-40">
                    <div class="flex items-center justify-center text-danger" *ngIf="company['status']==0" data-tw-toggle="modal"  data-tw-target="#delete-confirmation-modal"(click)="callConfirm(company['id'],'enable')"> <i-lucide name="check-square" class="w-4 h-4 mr-2"></i-lucide> Inactive </div>
                    <div class="flex items-center justify-center text-success" *ngIf="company['status']==1" data-tw-toggle="modal"  data-tw-target="#delete-confirmation-modal"(click)="callConfirm(company['id'],'disable')"> <i-lucide name="check-square" class="w-4 h-4 mr-2"></i-lucide> Active </div>
                </td>
                <td class="table-report__action w-56">
                    <div class="flex justify-end">
                        <a class="flex items-center mr-3" href="javascript:;" (click)="makeDefault(company)" *ngIf="company['default_company']==0"> <i-lucide name="check-square" class="w-4 h-4 mr-1"></i-lucide> Select </a>
                        <!-- <a class="flex items-center mr-3" href="javascript:;" (click)="edit(company)" data-tw-toggle="modal" data-tw-target="#basic-slide-over-preview"> <i-lucide name="check-square" class="w-4 h-4 mr-1"></i-lucide> Edit </a>
                        <a class="flex items-center text-danger" href="javascript:;" data-tw-toggle="modal"  data-tw-target="#delete-confirmation-modal"(click)="callConfirm(company['id'],'delete')"> <i-lucide name="trash-2" class="w-4 h-4 mr-1"></i-lucide> Delete </a> -->
                    <!--</div>
                </td>
            </tr>
          
        </tbody>
    </table>
</div> -->
<!-- END: Data List -->
    <!-- <app-pagination class="col-span-12" [page]="pageCopy()" (newItemEvent)="changePage($event)"></app-pagination> -->
</div>

 
 <!-- BEGIN: Slide Over Content -->
 <div id="basic-slide-over-preview"  class="modal modal-slide-over" tabindex="-1" aria-hidden="true">
     <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header p-5">
                 <h2 class="font-medium text-base mr-auto">{{companyData.title}} Comapny</h2>
             </div>
             <div class="modal-body"> 
                <app-company-form [companyData]="companyData" (saved)="saved()"></app-company-form>
             </div>
         </div>
     </div>
 </div> <!-- END: Slide Over Content -->
 <app-delete-confirmation  (confirmed)="confirmAction($event)" [message]="message"></app-delete-confirmation>